.reviewCard {
    position: relative;
    box-sizing: border-box;
  border: 1px solid #f1f1f1;
  border-radius: 27px;
  padding: 0 28px 32px;
  width: 382px;
  height: 232px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #fdfdfd;
  /* margin-top: 88px; */
}
.reviewName {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 54px;
  margin-bottom: 16px;
}
.reviewTestimonial {
  font-size: 16px;
  line-height: 1.25;
  color: #93939a;
}
.reviewImage {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
}