.buyMedicine {
  display: flex;
  gap: 19px;
  padding: 40px 40px 40px 80px;
  background-color: #59b17a;
  border-radius: 32px;
  margin-top: 120px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 501px;
  color: #f1f1f1;
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: -0.01em;
  padding-top: 64px;
  margin-bottom: 24px;
}
.description {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 40px;
  width: 488px;
}
.button {
  width: 190px;
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 60px;
  padding: 13px 50px;
  font-weight: 500;
  line-height: 1.29;
  background-color: transparent;
}
