.footer {
  display: flex;
  flex-direction: column;
  background-color: #59b17a;
  color: #f7f8fa;
  padding: 40px 128px;
}
.content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(247, 248, 250, 0.3);
  padding-bottom: 64px;
}
.logoSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description {
  font-size: 16px;
  line-height: 1.25;
  width: 311px;
}
.links {
  display: flex;
  gap: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}
.socialMedia {
  display: flex;
  gap: 12px;
}
.socialLink {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(247, 248, 250, 0.1);
  border-radius: 10px;
}
.socialIcon {
  fill: #f7f8fa;
}
.bottom {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 14px;
  line-height: 1.29;
}
.privacyPolicy, .terms {
  padding-left: 24px;
  border-left: 1px solid #f7f8fa;
}
.copyright, .privacyPolicy {
  padding-right: 24px;
}