.nearestStore {
    padding-top: 120px;
}
.nearestStoreHeader {
  width: 100%;
  text-align: center;
  margin-bottom: 64px;
}
.nearestStoreTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 14px;
}
.nearestStoreSubtitle {
  font-size: 16px;
  line-height: 1.25;
  color: #93939a;
}
.storeList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 38px;
    justify-content: center;
}