.logo {
  background-color: #59b17a;
  width: 172px;
}
.logosvg {
  stroke: #ffffff;
}
.logoLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.logo_text {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #fff;
}
